@(doneTasks: List[Task], notDoneTasks: List[Task], taskForm: Form[Task])

@import helper._
@import play.i18n._



@main("Gerenciador de tarefas") {
<div class="container">
     
     @form(routes.Application.newTask()) {


        
        <h2>Adicionar uma nova tarefa</h2>

        <input type="text" class="form-control" name="label" placeholder="Tarefa">
        <input type="text" class="form-control" name="descricao"  placeholder="Descrição">
        <input type="text" name="prioridade" class="form-control" placeholder="Prioridade">
        <input type="checkbox" name="notDone" title="Tarefa realizada ou nao?"> Tarefa não realizada.
        <input type="hidden" name="notDone" value="false"> 
        <input type="submit" value="Criar">            
    }

    


    <h1>@doneTasks.size() tarefa(s) realizada(s)</h1>
    
    <ul>
        @for(task <- doneTasks) {
            
               
                 <div class="panel panel-info">
                        <div class="panel-heading"><h2 class="panel-title">@task.getLabel()</h2></div>
                        <div class="panel-body">                        
                                <span id="taskLabel">@task.getDescricao()</span>
                                @form(routes.Application.deleteTask(task.getId())){
                                        <input type="submit" value="Deletar">
                                }
                        </div>
                        </div>    
                       
        }
    </ul>
    
    

     <h1>@notDoneTasks.size() tarefa(s) nao realizada(s)</h1>
        
                @for(task <- notDoneTasks){
                        <div class="panel panel-success">
                        <div class="panel-heading"><h3 class="panel-title">@task.getLabel()</div>
                        
                        <div class="panel-body"><span id="taskLabel">@task.getLabel()</span>

                                @form(routes.Application.deleteTask(task.getId())){
                                        <input type="submit" value="Deletar">
                                }
                        </div>
                        </div>                        
                }


</div>
    
}


